.it_spashel{
  &__mebeli{
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    gap: 20px;
    flex-wrap: wrap;
    button{
      height: 70px;
      width: 250px;
    }
    &__no_active{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      border: 1px solid var(--Divider, #777777);
    }
    &__active{
      color: white;
      background: #00770f;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      border: 4px solid var(--Divider, #474844);
    }
  }
}
.none{
  display: none;
}