.it_spashel{
  &__mebeli{
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    gap: 20px;
    flex-wrap: wrap;
    &__button_img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        width: 200px;
        height: 200px;
      }
    }
    &__no_active{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      border: 1px solid var(--Divider, #777777);
    }
    &__active{
      color: white;
      background: #00770f;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      border: 4px solid var(--Divider, #474844);
    }
  }
  &__input{
    &__button{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      row-gap: 20px;
      margin: 30px 0 15px 0;
    }
  }
}
.none{
  display: none;
}