.sotrudnik {
  display: flex;

  &__nav_menu {
    width: 20%;
    height: 100%;
    border-width: 1px;
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__no_active,
    &__active {
      img{
        width: 24px;
        height: 24px;
        fill: currentColor;
      }
      padding: 16px 16px;
      display: flex;
      align-items: center;
      justify-content: left;
      color: #565E6CFF; /* neutral-600 */
      gap: 8px;
      cursor: pointer;
    }

    &__active{
      font-family: Roboto;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      color: #1E2128FF;
      background: rgba(30, 33, 40, 0.18);
      border-radius: 10px;
    }

    &__no_active {
      font-family: Roboto;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      color: #565D6DFF;
    }
  }

  &__content {
    width: 80%;
    &__home{
      &__work_info{
        &__left{
          width: 25%;
          background: #FFFFFFFF; /* white */
          border-radius: 10px;
          box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F; /* shadow-xs */
        }
        &__right{

        }
      }
    }
  }
}

.none {
  display: none;
}
